<ul class="nav flex-list">
  <li><%= link_to "Hosts", hosts_path %></li>
  <li><%= link_to 'Cloud_Environments', cloud_environments_path %> </li>
  <li><%= link_to "Search hosts", search_index_path %></li>
  <li><%= link_to "Users", users_path %></li>
</ul>

